* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Alegreya", serif;
  color: #023059;
}

@media screen and (min-width: 1025px) {
  body .section-separator {
    margin-top: 10px;
    height: 20vh;
  }
}

@-webkit-keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes ease-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes ease-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top {
  background: url("../assets/header-background.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.top .header {
  width: 100vw;
  height: 100vh;
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.top .header .headings {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.top .header .headings .main-heading {
  font-size: 64px;
}

.top .header .headings .sub-heading {
  font-size: 30px;
}

.top .header .headings .sub-heading a {
  text-decoration: none;
  color: #f56469;
}

.top .header .headings .bio {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #035e72;
  text-align: justify;
  margin-top: 5vh;
}

.top .header .cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 60vh;
}

.top .header .cover .avatar-image {
  border-radius: 100%;
  height: 80%;
  -webkit-filter: drop-shadow(0px 5px 3px #023059);
          filter: drop-shadow(0px 5px 3px #023059);
}

@media screen and (min-width: 1025px) {
  .headings {
    -webkit-animation: ease-from-left 2s ease-out;
            animation: ease-from-left 2s ease-out;
  }
  .avatar-image {
    opacity: 0;
    -webkit-animation: ease-from-right 1s ease-out 2s forwards;
            animation: ease-from-right 1s ease-out 2s forwards;
  }
}

@media screen and (max-width: 1024px) {
  .top {
    background: url("../assets/header-background-mobile.jpg") no-repeat center center fixed;
  }
  .top .header {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .top .header .headings {
    text-align: left;
  }
  .top .header .headings .main-heading {
    font-size: 45px;
  }
  .top .header .headings .sub-heading {
    font-size: 25px;
  }
  .top .header .headings .bio {
    font-size: 18px;
  }
  .top .header .cover {
    padding-top: 10vh;
  }
  .top .header .cover .avatar-image {
    height: 80%;
  }
}

@keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  -webkit-filter: drop-shadow(0px 5px 3px #023059);
          filter: drop-shadow(0px 5px 3px #023059);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.site-menu .menu-item {
  padding: 2vh 3vw;
}

.site-menu .menu-item .menu-item-link {
  text-decoration: none;
  color: #035e72;
  font-size: 20px;
  padding: 10px 50px;
}

.site-menu .menu-item .menu-item-link:hover {
  border: solid 1px #023059;
}

@media screen and (min-width: 1025px) {
  .site-menu {
    opacity: 0;
    -webkit-animation: ease-from-top 1s ease-in 3s forwards;
            animation: ease-from-top 1s ease-in 3s forwards;
  }
}

@media screen and (max-width: 1024px) {
  .site-menu {
    display: none;
  }
}

@keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  width: 100%;
  overflow: hidden;
}

.main .experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main .experience .heading {
  background: url("../../assets/experience-background.jpg") no-repeat center center fixed;
  height: 100vh;
  text-align: center;
  margin: 0 !important;
}

.main .experience .heading .mask {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .experience .heading .mask .main-heading {
  color: white;
}

@media screen and (min-width: 1025px) {
  .main .experience .heading .main-heading {
    font-size: 80px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .main .experience .heading .main-heading {
    font-size: 60px;
    margin-bottom: 20px;
  }
}

.main .experience .companies .company {
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.main .experience .companies .company .responsibility {
  margin-top: 50px;
}

.main .experience .companies .company .responsibility p {
  margin: 10px 0px;
}

.main .experience .companies .company .responsibility ul {
  margin: 0px 20px;
}

.main .experience .companies .company .responsibility a {
  color: inherit;
  font-weight: bolder;
  text-decoration: none;
}

.main .experience .companies .company:nth-child(odd) {
  background: radial-gradient(#034b8b, #011527);
}

.main .experience .companies .company:nth-child(even) {
  background: radial-gradient(#f89497, #f2343b);
}

.main .education {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main .education .heading {
  background: url("../../assets/education-background.jpg") no-repeat center center fixed;
  height: 100vh;
  text-align: center;
}

.main .education .heading .mask {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .education .heading .mask .main-heading {
  color: white;
}

@media screen and (min-width: 1025px) {
  .main .education .heading .main-heading {
    font-size: 80px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .main .education .heading .main-heading {
    font-size: 60px;
    margin-bottom: 20px;
  }
}

.main .education .degrees {
  height: 100vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(#0487a4, #023540);
  color: white;
}

.main .education .degrees .degree {
  width: 100%;
  text-align: center;
}

.main .education .degrees .degree h1 {
  font-size: 25px;
}

.main .education .degrees .degree h2 {
  font-size: 20px;
  padding: 20px 0px;
}

.main .education .degrees .line {
  width: 70%;
  height: 1px;
  background: white;
}

@media screen and (max-width: 1024px) {
  .main .education,
  .main .experience {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main .education .heading {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  width: 100%;
  height: 15vh;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer p {
  font-size: 18px;
}

.footer p a {
  color: #f56469;
}
/*# sourceMappingURL=main.css.map */