@import 'fragments/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font_serif;
  color: $color_dark;

  @media screen and (min-width: 1025px) {
    .section-separator {
      margin-top: 10px;
      // background-color: lightgray;
      height: 20vh;
    }
  }
}

@import 'fragments/top';
@import 'fragments/site-menu';
@import 'fragments/main';
@import 'fragments/footer';
