* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Alegreya", serif;
  color: #023059;
}

@-webkit-keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.site-menu {
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.site-menu .menu-item {
  padding: 2vw 3vw;
}

.site-menu .menu-item .menu-item-link {
  text-decoration: none;
  color: #035e72;
  font-size: 20px;
  padding: 10px 50px;
}

.site-menu .menu-item .menu-item-link:hover {
  border: solid 1px #023059;
}

@media screen and (min-width: 1025px) {
  .menu-item {
    opacity: 0;
    -webkit-animation: ease-from-top 1s ease-in 3s forwards;
            animation: ease-from-top 1s ease-in 3s forwards;
  }
}

@media screen and (max-width: 1024px) {
  .site-menu {
    display: none;
  }
}

.top {
  background: url("../assets/header-background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: drop-shadow(0px 3px 3px #023059);
          filter: drop-shadow(0px 3px 3px #023059);
  overflow: hidden;
}

.top .header {
  width: 100vw;
  height: 85vh;
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.top .header .headings {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.top .header .headings .main-heading {
  font-size: 64px;
}

.top .header .headings .sub-heading {
  font-size: 30px;
}

.top .header .headings .sub-heading a {
  text-decoration: none;
  color: #f56469;
}

.top .header .headings .bio {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #035e72;
  text-align: justify;
  margin-top: 5vh;
}

.top .header .cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 60vh;
}

.top .header .cover .avatar-image {
  border-radius: 100%;
  height: 80%;
  -webkit-filter: drop-shadow(0px 5px 3px #023059);
          filter: drop-shadow(0px 5px 3px #023059);
}

@media screen and (min-width: 1025px) {
  .headings {
    -webkit-animation: ease-from-left 2s;
            animation: ease-from-left 2s;
  }
  .avatar-image {
    opacity: 0;
    -webkit-animation: ease-from-right 1s ease-out 2s forwards;
            animation: ease-from-right 1s ease-out 2s forwards;
  }
}

@media screen and (max-width: 1024px) {
  .top .header {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .top .header .headings {
    text-align: left;
  }
  .top .header .headings .main-heading {
    font-size: 45px;
  }
  .top .header .headings .sub-heading {
    font-size: 25px;
  }
  .top .header .headings .bio {
    font-size: 18px;
  }
  .top .header .cover {
    padding-top: 10vh;
  }
  .top .header .cover .avatar-image {
    height: 80%;
  }
}

@keyframes ease-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ease-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ease-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.main {
  width: 100%;
  margin: 50px 0px;
  overflow: hidden;
}

.main .education {
  width: 90vw;
  margin: auto;
}

.main .education .main-heading {
  font-size: 50px;
  margin-bottom: 50px;
}

.main .education .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .education .cards .card {
  width: 20vw;
  height: 25vh;
  padding: 20px;
  background-color: #36a59a;
  color: white;
  -webkit-filter: drop-shadow(0px 5px 3px #023059);
          filter: drop-shadow(0px 5px 3px #023059);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.main .education .cards .card p {
  font-size: 1.2rem;
}

@media screen and (min-width: 1025px) {
  .main .education .main-heading {
    opacity: 0;
    -webkit-animation: ease-from-top 1s ease-out 3s forwards;
            animation: ease-from-top 1s ease-out 3s forwards;
  }
  .main .education .cards .card {
    opacity: 0;
  }
  .main .education .cards .card.card1 {
    -webkit-animation: ease-from-left 1s ease-out 4s forwards;
            animation: ease-from-left 1s ease-out 4s forwards;
    z-index: -1;
  }
  .main .education .cards .card.card2 {
    -webkit-animation: ease-from-left 1s ease-out 5s forwards;
            animation: ease-from-left 1s ease-out 5s forwards;
    z-index: -2;
  }
  .main .education .cards .card.card3 {
    -webkit-animation: ease-from-left 1s ease-out 6s forwards;
            animation: ease-from-left 1s ease-out 6s forwards;
    z-index: -3;
  }
  .main .education .cards .card.card4 {
    -webkit-animation: ease-from-left 1s ease-out 7s forwards;
            animation: ease-from-left 1s ease-out 7s forwards;
    z-index: -4;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    margin: 20px 0px;
  }
  .main .education {
    text-align: center;
  }
  .main .education .main-heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .main .education .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .education .cards .card {
    width: 90vw;
    height: 25vh;
    margin: 20px 0px;
  }
}
/*# sourceMappingURL=main.css.map */