@import 'fragments/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_serif;
  color: $color_dark;
}

@import 'fragments/header';
@import 'fragments/site-menu';