<section class="education track" id="education">
  <div class="heading education-heading track-child">
    <div class="mask">
      <h1 class="main-heading track-child">Education</h1>
    </div>
  </div>
  <div class="degrees">
    {% for degree in education %}
      <div class="degree">
        <h1>{{ degree.name }}</h1>

        <h2>{{ degree.institute }}</h2>
        {% if degree.subject %}
          <p>{{ degree.subject }}</p>
        {% endif %}
      </div>
      <div class="line"></div>
    {% endfor %}
  </div>

</section>
