<nav class="site-menu">
  <div class="menu-item">
    <a class="menu-item-link" href="#home">Home</a>
  </div>

  <div class="menu-item">
    <a class="menu-item-link" href="#experience">Experience</a>
  </div>


  <div class="menu-item">
    <a class=" menu-item-link" href="#education">Education</a>

  </div>
</nav>
