<nav class="site-menu">
  <div class="menu-item">
    <a href="#home" class="menu-item-link">Home</a>
  </div>

<div class="menu-item">
<a href="#education" class=" menu-item-link">Education</a>

</div>

  <div class="menu-item">
    <a href="#experience" class="menu-item-link">Experience</a>
  </div>

  <div class="menu-item">
    <a href="#contact" class="menu-item-link">Contact</a>
  </div>
</nav>
