<section class="menu">
  {% include "fragments/site-menu.twig" %}
</section>

<section class="top">
   {% include "fragments/home.twig" %}
</section>

<section class="main">
  {% include "fragments/experience.twig" with { "experience": experience } only %}
  {% include "fragments/education.twig" with { "education": education } only %}
</section>

<section id="about" class="footer">
  {% include "fragments/about.twig" %}
</section>
