{% include "fragments/site-menu.twig" %}

<div class="top">
   {% include "fragments/home.twig" %}
</div>

<div class="main">
  {% include "fragments/experience.twig" with { "experience": experience } only %}
  {% include "fragments/education.twig" with { "education": education } only %}
</div>

<div id="contact" class="footer">
  <p>@Copyright
    <strong>S M Raihan Azim</strong>
  </p>
  <p>Email:
    <a href="@mailto:raihan.cseju@gmail.com">raihan.cseju@gmail.com</a>
  </p>
</div>
