@import 'variables';
@import 'animations';

.footer {
  width: 100%;
  height: 15vh;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    font-size: 18px;

    a {
      color: $color_semibright;;
    }
  }
}