@import 'variables';
@import 'animations';

.footer {
  width: 100%;
  height: 100vh;
  bottom: 0;

  background: radial-gradient(
    lighten($color_bright, 10%),
    darken($color_bright, 30%)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 64px;
    margin-bottom: 40px;
    text-decoration: underline;
  }

  p {
    font-size: 22px;
    padding: 5px;

    a {
      color: lighten($color_dark, 10%);
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-left: 20px;
  }
}
