@import 'variables';
@import 'animations';

.footer {
  width: 100%;
  height: 100vh;
  bottom: 0;

  background: linear-gradient(45deg, $bg_color_1, $bg_color_2, $bg_color_3, $bg_color_4, $bg_color_5);
  background-size: 400%;
  animation: bg-animation 5s infinite alternate;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
    margin-bottom: 40px;
    text-decoration: underline;
  }

  p {
    font-size: 1.5rem;
    padding: 5px;

    a {
      color: lighten($color_dark, 10%);
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-left: 20px;
  }
}
