@import 'variables';
@import 'animations';

.site-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 5px 3px $color_dark);

  display: flex;
  justify-content: space-evenly;

  .menu-item {
    padding: 2vh 3vw;

    .menu-item-link {
      text-decoration: none;
      color: $color_semidark;
      font-size: 20px;
      padding: 10px 50px;

      &:hover {
        border: solid 1px $color_dark;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .site-menu {
    opacity: 0;
    animation: ease-from-top 1s ease-in 3s forwards;
  }
}

@media screen and (max-width: 1024px) {
  .site-menu {
    display: none;
  }
}