@import 'variables';
@import 'animations';

.site-menu {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-evenly;

  .menu-item {
    padding: 2vw 3vw;

    .menu-item-link {
      text-decoration: none;
      color: $color_semidark;
      font-size: 20px;
      padding: 10px 50px;

      &:hover {
        border: solid 1px $color_dark;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .menu-item {
    opacity: 0;
    animation: ease-from-top 1s ease-in 3s forwards;
  }
}

@media screen and (max-width: 1024px) {
  .site-menu {
    display: none;
  }
}