@import 'variables';
@import 'animations';

.top {
  background: url('../assets/header-background.jpg') no-repeat center center
    fixed;
  background-size: cover;
  // filter: drop-shadow(0px 3px 3px $color_dark);
  overflow: hidden;

  .header {
    width: 100vw;
    height: 85vh;
    padding: 5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);

    .headings {
      flex: 2;

      .main-heading {
        font-size: 64px;
      }
      .sub-heading {
        font-size: 30px;

        a {
          text-decoration: none;
          color: $color_semibright;
        }
      }

      .bio {
        font-family: $font_sans;
        font-size: 20px;
        color: $color_semidark;
        text-align: justify;

        margin-top: 5vh;
      }
    }

    .cover {
      flex: 1;
      text-align: center;
      height: 60vh;

      .avatar-image {
        border-radius: 100%;
        height: 80%;
        filter: drop-shadow(0px 5px 3px $color_dark);
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .headings {
    animation: ease-from-left 2s ease-out;
  }

  .avatar-image {
    opacity: 0;
    animation: ease-from-right 1s ease-out 2s forwards;
  }
}

@media screen and (max-width: 1024px) {
  .top {
    background: url('../assets/header-background-mobile.jpg') no-repeat center
      center fixed;
    .header {
      height: 100vh;
      flex-direction: column-reverse;

      .headings {
        text-align: left;

        .main-heading {
          font-size: 45px;
        }

        .sub-heading {
          font-size: 25px;
        }

        .bio {
          font-size: 18px;
        }
      }

      .cover {
        padding-top: 10vh;

        .avatar-image {
          height: 80%;
        }
      }
    }
  }
}
