$color_dark: #023059;
$color_semidark: #035e72;
$color_medium: #36a59a;
$color_semibright: #f56469;
$color_bright: #f5a187;

$bg_color_1: #6FD3D8;
$bg_color_2: #C5F779;
$bg_color_3: #F8DC31;
$bg_color_4: #EB783A;
$bg_color_5: #E33D77;



$font_serif: 'Alegreya', serif;
$font_sans: 'Roboto', sans-serif;

$animation_delay: 0;

$main_area_section_heading_height: 60vh;