$color_dark: #023059;
$color_semidark: #035e72;
$color_medium: #36a59a;
$color_semibright: #f56469;
$color_bright: #f5a187;

$font_serif: 'Alegreya', serif;
$font_sans: 'Roboto', sans-serif;

$animation_delay: 0;

$main_area_section_heading_height: 40vh;